body {
    background-color: #59a0c9;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    color: #4A4A4F;
}

.red-o {
    color: #82af64b4;
}

.thin {
    font-weight: 400;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445669;
}

.main-bg {
    background-color: #cfd0d1;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #546c86;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #283038;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #405163;
}

.post-link:hover,
.page-link {
    color: #d64110;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #20acac;
}

.link {
    color: #1ca5a5;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #36424e;
    text-decoration: underline;
}

.btn-like {
    color: #d43e0c;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #cf3e0d;
    background: transparent;
    border: none;
}